@font-face {
    font-family: earth;
    src: url(./PlaywriteDEGrund-VariableFont_wght.ttf);
}
@font-face {
    font-family: pop;
    src: url(Poppins-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    color: white;
    background-image: url(https://images.unsplash.com/photo-1661705969607-cde73828023d?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    text-align: center;
    padding: 70px;
}

h1{
    font-size: 70px;
    font-family: pop;
    font-weight: 900;
}

p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}

button{
    color: rgb(47, 46, 46);
    background:linear-gradient(to right bottom,#444b5b 10%,#93825f 25%,white,#5A6D41 92%,#444b5b);
    font-size: 20px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
}

button:hover{
    background-color: #3871d2;
    transform: scale(1.05);
}