@font-face {
    font-family: "gilroy";
    src: url("./gilroy/Gilroy-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

@mixin flex-col($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-row($alignment: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $alignment;
}

main {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    @include flex-col();
    background-color: #fffbfbb5;
    position: relative;
    overflow: hidden;
    nav {
        width: 100%;
        padding: 0.5rem;

        .navLinks {
            @include flex-row(space-between);

            a {
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
            }

            a:hover {
                background-color: #dbdbdb52;
            }
        }

        
    }
    .cart{
        @include flex-col(1rem);
        position: absolute;
        right: 5%;
        top: 7%;
        z-index: 999;
        .product{
            @include flex-row();
            gap: 1rem;
            width: 15rem;
            padding: 0.5rem;
            box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.12),
                        6px 2px 4px rgba(0, 0, 0, 0.08);

            border-radius: 0.5rem;
            background-color: rgb(83, 83, 83);

            .product-img{
                width: 3.5rem;
                height: 3.5rem;
                border-radius: 0.5rem;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .details{
                @include flex-col(0.7rem);
                .product-name{
                    font-size: 1.3rem;
                }
                .product-price{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .hidden{
        display: none;
    }
        }
    .appContent {
        width: 100%;
        @include flex-col();
        padding: 0.5rem;
        margin-bottom: 1rem;

        section.view1 {
            width: 100%;
            padding: 0.5rem;
            @include flex-col(2.2rem);

            .search-container {
                width: 100%;
                @include flex-row();
                gap: 0.5rem;

                input {
                    width: 100%;
                    padding: 0.8rem;
                    border: none;
                    outline: none;
                    background-color: #cfcfcf;
                    border-radius: 0.3rem;
                    font-size: 1rem;
                    font-weight: 600;
                }

                .search-filter {
                    background-color: rgb(8, 1, 33);
                    padding: 0.6rem;
                    border-radius: 0.3rem;

                    i {
                        font-size: 1.3rem;
                        color: white;
                    }
                }

                .search-filter:hover {
                    background-color: rgba(12, 2, 51, 0.853);
                }
            }

            .categories {
                @include flex-row(space-between);
                gap: 0.7rem;

                .icon {
                    padding: 1.2rem;
                    border-radius: 50%;
                    @include flex-row(center);
                    background: white;
                    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12),
                        0 2px 4px rgba(0, 0, 0, 0.08);
                }

                .icon a {
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                }

                .icon:hover {
                    background-color: #53535330;
                }

                .homeIcon {
                    background: linear-gradient(-145deg,
                            #17172b,
                            #4b4b7c);
                    transform: scale(1.1);
                    a {
                        color: goldenrod;
                    }
                }

            }
        }

        section.view2 {
            width: 100%;
            padding: 0.5rem;

            .product-cards {
                @include flex-row(flex-start);
                flex-wrap: nowrap;
                gap: 1.5rem;
                overflow: auto;
                padding: 0.5rem 0.2rem;

                .card {
                    background-color: #fff;
                    width: min(20rem, 80%);
                    padding: 0.5rem;
                    border-radius: 0.5rem;
                    flex-shrink: 0;
                    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12),
                        0 2px 4px rgba(0, 0, 0, 0.08);
                    overflow: hidden;
                    @include flex-col(0.5rem);

                    .product-img {
                        aspect-ratio: 6/5;
                        border-radius: 0.3rem;
                        background-color: #4b4b7c;
                        overflow: hidden;
                        background-color: #989898a1;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .bottom {
                        width: 100%;
                        padding: 0.5rem 0;
                        padding-bottom: 1rem;
                        @include flex-row();
                        align-items: flex-end;
                        justify-content: space-between;

                        .product-details {
                            @include flex-col(0.4rem);

                            .product-name {
                                font-size: 1.35rem;
                            }

                            .product-description {
                                font-size: 0.9rem;
                                color: #9c9c9c75;
                            }

                            .product-price {
                                font-size: 1rem;
                            }
                        }

                        .add-to-cart {
                            height: 2.5rem;
                            width: 2.5rem;
                            border-radius: 50%;
                            @include flex-row(center);
                            color: goldenrod;
                            font-size: 1.3rem;
                            background: linear-gradient(-145deg,
                                    #17172b,
                                    #4b4b7c);
                            margin-right: 1rem;
                        }
                    }
                }

            }

            .product-cards::-webkit-scrollbar {
                display: none;
            }


            .popular-title{
                padding: 1rem 0.2rem;
                h3{
                    font-size: 1.7rem;
                    font-weight: 800
                }
            }

            .popular-products-cards{
                @include flex-row();
                flex-wrap: nowrap;
                gap: 1.5rem;
                padding: 0.5rem 0.2rem;
                overflow: auto;
                .popular-card{
                    width: min(18rem,80%);
                    border-radius: 0.5rem;
                    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12),
                        0 2px 4px rgba(0, 0, 0, 0.08);
                    padding: 0.5rem;
                    @include flex-row();
                    gap: 0.5rem;
                    flex-shrink: 0;
                    color: white;
                    background-color: #fff;

                    .popular-product-img{
                        width: 5.5rem;
                        height: 5.5rem;
                        background-color: #fff;
                        overflow: hidden;
                        border-radius: 0.5rem;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .details{
                        color: black;
                        @include flex-col(1rem);
                        .product-name{
                            font-size: 01rem;
                            font-weight: 900;
                            @include flex-col(0.5rem);
                        }

                        .product-description{
                            color: #707070a3;
                            font-size: 1rem;
                        }

                        .product-price{
                            color: #535353c7;
                            font-size: 1.2rem;
                            font-weight: 900;
                        }
                    }

                }

            }

            .popular-products-cards::-webkit-scrollbar{
                display: none;
            }
        }



    }

    footer{
        width: 100%;
        @include flex-row(space-around);
        padding: 0.8rem 0rem;
        background-color: #fff;
        position: fixed;
        bottom: 0;

        .icon{
            padding: 0.5rem;
            border-radius: 0.5rem;
            @include flex-row(center);
        }
        .icon i{
            font-size: 1.5rem;
            color: #808080;
        }

        .icon:hover{
            background-color: #bcbcbc46;
        }
        

        .shop{
            padding: 1.5rem;
            border-radius: 50%;
            box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12),
                        0 2px 4px rgba(0, 0, 0, 0.08);
            background: linear-gradient(-145deg,#17172b,#4b4b7c);
            i{
                color: goldenrod;
            }
        }
    }
