*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}


main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 15%;
    grid-template-areas: "header"
                         "section"
                         "footer"
}

main header{
    grid-area: header;
    padding: 14px 70px;
}

main section{
    grid-area: section;
    background-color: #F6F7F9;
    padding: 0px 70px;
    margin: 0px 5px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main header nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .logoimg{
    display: flex;
    align-items: center;
    gap: 8px;
}

main header nav .logoimg img{
    height: 32px;
    width: 32px;
    object-fit: cover;
    border-radius: 5px;
    
}

main header nav .logoimg h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    font-weight: 500;
}

nav .navlinks{
    display: flex;
    align-items: center;
    gap: 48px;
}

nav .navlinks a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

nav .navbtns{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

nav .navbtns a{
    text-decoration: none;
    color: royalblue;
    padding: 10px 18px;
    border: 2px solid royalblue;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 100;
    cursor: pointer;
}

.navbtns a:nth-child(2){
    color: white;
    background-color: royalblue;
}

main section .sectionContent{
    padding-top: 45px;
    
}

section
.sectionContent
.content{
    display: flex;
    align-items: center;
    gap: 60px;
}
main section .sectionContent .content h1{
    font-size: 38px;
    font-weight: 300;
}

section .sectionContent .content p{
    color: #0d0d0dc1;
    width: 900px;
    font-size: 14px;
}

section
.sectionContent
.sectionbtns{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 25px;
    margin-left: 20px;
}

section 
.sectionContent 
.sectionbtns a{
    text-decoration: none;
    color: royalblue;
    padding: 12px 18px;
    border: 2px solid royalblue;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}

.sectionContent .sectionbtns a:nth-child(1){
    color: white;
    background-color: royalblue;
}

section figure{
    margin-bottom: 35px;
}

section figure img{
    height: 380px;
    width: 700px;
    object-fit: cover;
    border-radius: 20px;
}

main footer .box{
    width: 170px;
}
footer .box h2{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

footer .box p{
    color: rgba(147, 147, 147, 0.685);
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}