*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // font-size: ;
}

body{
    background-color: rgba(230, 230, 230, 0.934);
}

@mixin flex-row($content){
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin flex-col($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    height: 100vh;
    
    .cards{
        width: 100%;
        @include flex-col(2rem);
        align-items: center;
        padding: 1rem;
        .card{
            width: 20rem;
            background-color: white;
            border-radius: 1.7rem;
            padding: clamp(1.5rem, 4vw, 2rem);
            @include flex-col(1rem);
            cursor: pointer;
            transition: transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
            .price{
                width: 100%;
                h1{
                    font-size: clamp(1.6rem, 4vw, 2.1rem);
                    font-weight: 700;
                    color: #1E1948;

                    span{
                        font-size: 1rem;
                        font-weight: 500;
                        color: #7C798D;
                    }
                }
            }

            .details{
                width: 100%;
                @include flex-col(0.7rem);
                justify-content: center;
                .name{
                    h1{
                        font-size: clamp(1.2rem, 3vw, 1.7rem);
                        font-weight: 500;
                        color: #1E1948;
                    }
                }
                .desc{
                    p{
                        font-size: clamp(0.85rem, 2.2vw, 0.95rem);
                        font-weight: 500;
                        color: #7C798D;
                    }
                }

                .benifits{
                    @include flex-col(0.7rem);
                    padding-top: 0.4rem;
                    .feature{
                        @include flex-row(flex-start);
                        align-items: center;
                        gap: 0.7rem;

                        i{
                            background-color: rgba(59, 59, 59, 0.211);
                            color: rgb(9, 57, 199);
                            padding: 0.1rem;
                            border-radius: 50%;
                            font-size: 0.9rem;
                        }
                        p{
                            text-transform: capitalize;
                            color: #7C798D;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: clamp(0.85rem, 2vw, 0.95rem);
                        }
                    }
                }
            }

            .btn{
                width: 80%;
                padding: 0.8rem 2.5rem;
                background-color: #EEF1FB;
                border-radius: 999px;
                @include flex-row(center);
                margin: 0.7rem 0rem;
                a{
                    text-decoration: none;
                    color: #4D64C2;
                    font-weight: 500;
                }
            }
        }
        .card-2{
            color: white;
            background-color: #728cec;

            .price{
                h1{
                    color: white;
                    span{
                        color: white;
                    }
                }
            }

            .details{
                .name{
                    h1{
                        color: white;
                    }
                }

                .desc{
                    p{
                        color: white;
                    }
                }

                .benifits{
                    .feature{
                        p{
                            color: white;
                        }

                        i{
                            color: white;
                            background-color: rgba(255, 255, 255, 0.436);
                        }
                    }
                }
            }

            .btn{
                background-color: white;
            }
        }

        .card:hover{
            transform: scale(1.1);
        }
    }
}


@media (min-width:768px) {
    main{
        width: 100%;
        .cards{
            width: 100%;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

