*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: grid;
    width: 25rem;
    border-radius: 1rem;
    place-items: end;
    overflow: hidden;
    position: relative;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    img{
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
        object-fit: cover;
    }

    .text{
        width: 100%;
        height: max-content;
        color: white;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 1rem;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
        position: absolute;
        bottom: -8rem;
        z-index: 1000;
        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        
        h3{
            font-size: 1rem;
            color: black;
        }

        p{
            width: 35ch;
            font-size: 0.9rem;
            text-align: center;
            color: black;
        }

        a{
            width: max-content;
            text-decoration: none;
            padding: 0.5rem 1rem;
            background-color: #fff;
            color: black;
            border-radius: 999px;
            text-align: center;
            transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
    }

    .text a:hover{
        background-color: black;
        color: white;
    }

}

.card:hover{
    .text{
        bottom: 0;
    }
}

.card:hover{
    transform: translateY(-10px);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}