*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin flex-row($content:flex-start){
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin flex-col($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    min-height: 100vh;
    @include flex-row(center);
    .post{
        width: min(100%,28.125rem);
        @include flex-col(0.5rem);
        .post-header{
            width: 100%;
            @include flex-row(space-between);
            padding: 0 0.8rem;
            .usr-detail{
                @include flex-row();
                gap: 1rem;
                .profile-img{
                    height: 3rem;
                    width: 3rem;
                    border-radius: 999px;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .usr-name-city p{
                    color: #666;
                }

            }
            }
            .more-options{
                i{
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }

        .post-images{
            .img{
                aspect-ratio: 1/1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .post-actions{
            @include flex-row(space-between);
            padding: 0 0.8rem;

            .right-action{
                @include flex-row();
                gap: 4rem;
                .right-action-icons{
                    @include flex-row();
                    gap: 0.7rem;
                }
            }
        }

        .post-actions i{
            font-size: 1.9rem;
            font-weight: 200;
        }

        .post-caption{
            padding: 0rem 0.8rem;
            p{
                width: 35ch;
                font-size: 1.1rem;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 400;
            }
            small{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: rgb(58, 58, 58);
                font-size: 0.85rem;
            }
        }

}