*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    position: relative;
}

:root{
    --x:50px;
    --y:50px;
}
body video{
    width: 100%;
    height: 100%;
}
.box{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(150px at var(--x) var(--y),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.816));
}