@font-face {
    font-family: helvetica;
    src: url(https://globalfonts.pro/font/helvetica-now-display);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    overflow: auto;
    
}

.cards{
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(157, 157, 157, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
    flex-shrink: 0;
}

.cards img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}

.cards h3{
    font-size: 25px;
    font-weight: 600;
}

.cards p{
    color: #3e3e3e;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.cards button{
    color: white;
    background-color: #000000;
    padding: 10px 35px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.cards button:hover{
    background-color: #fff;
    color: black;
}

.cards:hover{
    box-shadow: 10px 10px 50px rgba(171, 171, 171, 0.6);
}