*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #1d1d1d;
}

.cards{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cards .card{
    width: min(20rem,80%);
    padding: 1.5rem 0;
    background-color: #fff;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all ease 0.2s;
}
.card:hover{
    transform: scale(1.1);
}
.card .card-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.card .details{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.card .details .name{
    font-size: 1.2rem;
    white-space: nowrap;
    text-transform: capitalize;
}

.card .details .profession{
    font-size: 0.9rem;
    white-space: nowrap;
    text-transform: capitalize;
    color: crimson;
}

.card .details .description{
    width: 13rem;
    font-size: 0.8rem;
    text-align: center;
}