*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    min-width: 100vh;
    .photo-gallery{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
        grid-auto-rows: 25rem;
        gap: 1rem;
        img{
            width: 100%;
            border-radius: 1rem;
        }

    }
}