*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

main .img-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-container .img{
    width: 130%;
    height: 130%;
    position: absolute;
    top: 1/2;
    left: 1/2;
    transform: translate(1/2,1/2);
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-card-img{
    z-index: 3;
}
.incoming-card-img{
    z-index: 2;
}

main .details-container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-container .nav-bar{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar .dp-img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.dp-img img{
    height: 100%;
    width: 100%;;
    object-fit: cover;
    object-position: top;
}

.nav-bar h4{
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-bar .chat-icon{
    height: 3.5rem;
    width: 3.5rem;
    background-color: #eaeaea67;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chat-icon i{
    font-size: 1.3rem;
}

.chat-icon .badge-icon{
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: crimson;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0.2rem,-0.2rem);
}
.details-container .bottom-dets{
    width: 100%;
    background: linear-gradient(to bottom,transparent,rgba(0, 0, 0, 0.91));
}
.details-container .bottom-dets .details{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.details .location{
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.location i{
    font-size: 1.1rem;
    font-weight: 900;
    padding: 0.3rem;
    border-radius: 50%;
    background-color: #fff;
    color: black;
}
.location .place{
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    top: 3px;
}

.details .user-name{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.details .user-name h2{
    font-size: 4rem;
    font-weight: 400;
}
.user-name span{
    color: #ffffff86;
    font-size: 4rem;
    font-weight: 400;
}

.details .tags{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 0.5rem;
}
.tags .interest{
    padding: 0.5rem 0.8rem;
    border-radius: 999px;
    background-color: #ffffff25;
    backdrop-filter: blur(10px);
    font-size: 1rem;    
}
.interest i{
    margin-right: 0.3rem;
}

.details .bio{
    width: 40ch;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 2.5rem;
}

.bio span{
    font-size: 1.4rem;
    font-weight: 500;
}

.bio p{
    font-size: 1.2rem;
}

.details .post-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.post-btns .btn{
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    transition: all linear 0.2s;
}

.post-btns .cancel{
    background-color: #fff;
}
.post-btns .love{
    background-color: rgb(232, 41, 79);
}
.love i{
    color: #fff;
}
.cancel  i{
    color: black;
    font-weight: 600;
}

.btn:active{
    transform: scale(0.95);
}