*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hidden{
    display: none;
} */


.piano{
    width: 50rem;
    height: 18rem;
    background-color: #fff;
    padding: 1rem 0;
}

.piano .white-keys{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.white-keys .piano-key{
    height: 100%;
    flex-shrink: 0;
    flex-grow: 1;
    border: 1px solid #4f4f4f8b;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    background-color: #fff;
    box-shadow: 0 5px 0 0 #D2D2D2;
    cursor: pointer;
    transition: all linear 0.1s;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative; 
}

.white-keys span{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    margin-bottom: 0.9rem;
}

.piano-key .black-keys{
    position: absolute;
    width: 1.2rem;
    height: 45%;
    margin-left: rem;
    background-color: rgb(5, 5, 5);
    top: 0;
    right: -30%;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.black-keys span{
    color: white;
    font-size: 0.8rem;
}

.pressed{
    transform: translateY(5px);
    box-shadow: none;
    background-color: #a6a6a678;
}