*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: repeat(3,250px);

    grid-template-areas: "left top top"
                         "left center middle-right"
                         "bottom bottom bottom-left";

    grid-gap: 15px;
    align-content: center;
    justify-content: center;
}

#top{
    width: 515px;
    height: 250px;
    background-color: rgb(117, 246, 239);
    grid-area: top;
}

#left{
    width: 250px;
    height: 515px;
    background-color: aquamarine;
    grid-area: left;
}

#center{
    width: 250px;
    height: 250px;
    background-color: rgb(179, 113, 240);
    grid-area: center;
}

#middle-right{
    width: 250px;
    height: 250px;
    background-color: rgb(167, 213, 86);
    grid-area: middle-right;
}

#bottom{
    width: 515px;
    height: 250px;
    background-color: rgb(209, 127, 204);
    grid-area: bottom;
}

#bottom-left{
    width: 250px;
    height: 250px;
    background-color: rgb(243, 107, 134);
    grid-area: bottom-left;
}

.brr{
    border-radius: 20px;
}