@font-face {
    font-family: helvetica;
    src: url(https://globalfonts.pro/font/helvetica-now-display);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: helvetica;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: #000; */
    padding: 30px;
}

#main .cards{
    height: 300px;
    width: 270px;
    background-color: #fff;
    border-radius: 25px;
    padding: 15px 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.244);
}

.cards #logoimg{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 2px solid rgba(87, 87, 87, 0.196);
    position: relative;
}

.cards img{
    height: 38px;
    width: 38px;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    margin-top: 15px;
}

#content #compdets{
    display: flex;
    align-items: center;
    gap: 7px;
    
}
#content h1{
    font-size: 13px;
    font-weight: 550;
}

#content p{
    font-size: 9px;
    color: #969696;
    position: relative;
    top: 1.7px;
}

#content h2{
    font-size: 17px;
    font-weight: 600;
}

#content #btn button{
    padding: 5px 8px;
    font-size: 10px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #a7a6a64d;
}

#foot{
    position: relative;
    top: 28%;
}

#foot #line{
    width: 100%;
    height: 1px;
    background-color: rgba(87, 87, 87, 0.196);
    border-radius: 2px;
}

#foot h4{
    margin-top: 19px;
    font-size: 15px;
    font-weight: 600;
}

#foot p{
    font-size: 9px;
    color: #969696;
    position: relative;
    top: 3px;
}

#foot button{
    position: absolute;
    top: 51%;
    left: 72%;
    padding: 5px 9px;
    font-size: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(31, 30, 30);
    color: white;
    cursor: pointer;
}