/*

Profile Card - Mobile first
Tech used :-
clamp() - for font-size,padding,gap,widths
aspect ratio for images
min() - for width
flex-box layout

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

@mixin flex-row($content:flex-start){
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin flex-col($gap){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;

    .profile-card{
        width: 100%;
        min-height: 100vh;   
        @include flex-row(center);
        .card{
            background-color: #2F2F2F;
            width: min(90%,22rem);
            padding: clamp(0.5rem,2vw,1rem);
            border-radius: clamp(2rem, 3vw, 2.5rem);
            @include flex-col(clamp(1.1rem,2vw,1.3rem));
            .top{
                aspect-ratio: 3/3;
                border-radius: clamp(1.57rem, 2.5vw, 2rem);
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            .bottom{
                @include flex-col(1.5rem);
                padding-bottom: 1.5rem;
                .details-1{
                    @include flex-col(0.7rem);
                    padding-left: clamp(0.5rem,2vw,1rem);
                    .usr-name{
                        @include flex-row();
                        gap: 0.5rem;
                        h2{
                            color: white;
                            font-size: clamp(1.4rem,2.5vw,1.5rem);
                            font-weight: 500;
                        }
                        i{
                            color: rgb(36, 208, 36);
                            font-size: clamp(1.4rem,2.5vw,1.5rem);
                        }

                    }
                    .desc{
                        p{
                            color: #8C8C8C;
                            font-size: clamp(1.2rem,1.58vw,1.29rem);
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            max-width:28ch;
                        }
                    }
                }
                .details-2{
                    @include flex-row();  
                    gap: clamp(1.5rem,3vw,2rem);
                    padding-left: clamp(0.5rem,2vw,1rem);
                    .usr-data{
                        @include flex-row();
                        gap: 1.5rem;
                        .followers.posts{
                            @include flex-row();
                            flex-wrap: nowrap;
                        }
                    }

                    .bottom-btns{
                        .follow-btn{
                            background-color: #2F2F2F;
                            padding: clamp(1rem,1.5vw,1.2rem) clamp(1.3rem,1.5vw,1.5rem);
                            border-radius: 999px;
                            box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.547);
                            white-space: nowrap;
                            cursor: pointer;

                            a{
                                color: #fff;
                                text-decoration: none;
                                font-size: clamp(1.2rem,1.7vw,1.3rem);
                                font-weight: 500;
                                position: relative;
                                top: 1px;
                            }
                            i{
                                font-size: clamp(1.2rem,1.7vw,1.3rem);
                                font-weight: 500;
                                color: #fff;
                                position: relative;
                                top: 1px;
                            }
    
                        }
                        .follow-btn:hover{
                            box-shadow: inset 0px 0px 5px 0px rgba(118, 118, 118, 0.492);
                        }
                    }

                }


                .details-2 .ratings,.profile-save-btn{
                    display: none;
                }
                .details-2 i,span{
                    color: white;
                    font-size: clamp(1rem,1.7vw,1.1rem);
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin-right: 5px;
                    
                }
                .details-2 span{
                    position: relative;
                    top: 1px;
                }
                
            }
        }
    }
}


@media (min-width:768px) {
    main{
        width: 100%;

        .profile-card{
            width: 100%;
            min-height: 100vh;

            .card{
                flex-direction: row;
                width: clamp(28rem,60%,35rem);

                .bottom{
                    padding-bottom: 0;
                    .details-2{
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    .details-2 .ratings,.profile-save-btn{
                        display: block;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    }
                    .bottom-btns{
                        @include flex-row();
                        gap: 7rem;

                        .profile-save-btn{
                            cursor: pointer;
                            i{
                                background-color: #00000050;
                                padding: 1rem;
                                text-align: center;
                                border-radius: 999px;
                            }

                            i:hover{
                                background-color: #49484850;
                            }
                        }
                    }
                }

                
            }
        }
    }
}