* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin flex-col($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-row($just-content: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $just-content;
}

@mixin gradient() {
    background: linear-gradient(to left top, #C576EC, #EB87BD);
}

main {
    width: 100%;

    section.view-1 {
        width: 100%;
        @include flex-col(4rem);
        padding: 2.5rem 0rem;
        padding-bottom: 0;
        .top {
            width: 100%;
            padding: 0rem 2rem;
            @include flex-col(0.5rem);
            align-items: center;

            h1 {
                width: 85%;
                text-align: center;
                line-height: 1.2;
            }

            #paragraph {
                font-size: 0.8rem;
                font-weight: 500;
                text-align: center;
            }

            .btn {
                width: 100%;
                @include flex-row(space-between);
                padding: 0 1rem;
                margin-top: 0.2rem;
            }

            .btn a:nth-child(1) {
                color: white;
                @include gradient();
                text-decoration: none;
                padding: 0.4rem 1rem;
                border-radius: 0.3rem;

                .btn-txt {
                    p {
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }
            }

            .btn a:nth-child(2) {
                color: black;
                @include flex-row();
                gap: 0.5rem;
                text-decoration: none;

                .link-icon {
                    @include flex-row(center);
                    padding: 0.2rem;
                    border: 2px dashed rgb(206, 226, 243);
                    border-radius: 4rem;

                    i {
                        color: white;
                        @include gradient();
                        padding: 0.1rem;
                        font-size: 1.1rem;
                        border-radius: 4.5rem;
                    }
                }

                .btn-txt-2 {
                    p {
                        font-size: 0.8rem;
                        text-decoration: underline;
                    }
                }
            }
        }

        .bottom {
            width: 100%;
            @include flex-col(4rem);
            align-items: center;

            .outer {
                width: 38vh;
                height: 38vh;
                @include flex-row(center);
                border: 2px dashed #C576EC;
                border-radius: 50%;

                .inner {
                    width: 35vh;
                    height: 35vh;
                    @include gradient();
                    border-radius: 50%;
                    position: relative;

                    img {
                        width: 100%;
                        height: 60vh;
                        object-fit: cover;
                        position: absolute;
                        top: -40%;
                    }
                }
            }

            .bottom-logo-bar {
                width: 100%;
                padding: 1.1rem 0;  
                @include gradient();
                @include flex-row(space-between);
                position: relative;
                z-index: 2;
                overflow: hidden;
        
                h2 {
                    font-size: 1rem;
                    color: white;
                }
            }
        }
    }

}

@media (min-width:1400px) {
    main{
        width: 100%;

        section.view-1{
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: 0;

            .top,.bottom{
                width: 50%;
            }
            .top{
                align-items: flex-start;
                padding:10vh 0 0 20vh;
                h1{
                    width: 70%;
                    font-size: 3.5rem;
                    text-align: left;
                    letter-spacing: 1px;
                }
                
                #paragraph{
                    width: 50%;
                    text-align: left;
                }

                .btn{
                    justify-content: flex-start;
                    gap: 3rem;
                    padding: 0;
                    margin-top: 0.8rem;
                }
            }

            .bottom{
                align-items: flex-start;
                justify-content: flex-end;
                padding: 20vh 0 0 0;

                .outer{
                    width: 47vh;
                    height: 47vh;

                    .inner{
                        width: 45vh;
                        height: 45vh;

                        img{
                            width: 100%;
                            height: 80vh;
                            // object-fit: cover;
                            top: -37%;
                        }
                    }
                }

                .bottom-logo-bar{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    justify-content: space-around;
                    padding: 1.7rem 0;
                }


            }
        }
    }
}