*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #1c1b1b;
    padding: 1rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

main .hidden{
    display: none;
}

main section.menubar{
    width: 14rem;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.menubar .option{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    cursor: pointer;
    transition: all ease 0.2s;
}
.menubar .option .option-name{
    font-size: 1rem;
    font-weight: 500;
}
.menubar-options{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.menubar .menubar-options-bottom{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.menubar .logo{
    width: fit-content;
}

.menubar-options .profile .profile-img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: relative;
    bottom: 2px;
}

.option:hover{
    background-color: #222;
}


section.reels-screen{
    height: 100%; 
}


.reels-screen .all-reels{
    height: 100%;
    display: block;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.all-reels .reel{
    height: 100%;
    width: 28rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


.reel .reel-details{
    width: 90%;
    height: 100%;
    position: relative;
}

.reel .reel-details .reel-video{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.reel-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.isLiked{
    color: rgb(254, 39, 39);
}

.reel-details .wrapper{
    width: 80%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.wrapper .user{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
}


.user .user-profile{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.user-profile .profile-img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: static;
}

.user-profile .user-name{
    font-weight: 500;
}

.user .follow-btn{
    padding: 0.15rem 0.25rem;
    border: 1px solid rgba(252, 247, 247, 0.625);
    border-radius: 0.4rem;
    text-align: center;
}

.follow-btn span{
    font-weight: 600;
    position: relative;
    bottom: 1px;
    font-size: 1rem;

}


.wrapper .caption{
    width: 100%;
    /* height: 5rem; */
    overflow: hidden;
    cursor: pointer;
}

.caption::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}
.caption::-webkit-scrollbar-thumb{
    background-color: #cfcfcf;
    border-radius: 10px;

}

.caption p{
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.wrapper .bars{
    width: 100%;
    display: flex;
    /* align-items: center; */
    gap: 0.8rem;
    cursor: pointer;
}

.bars .music-bar{
    width: 100%;
    background-color: transparent;
}

.music-bar .bar{
    padding: 0.4rem 0.6rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background-color: #dbdbdb14;
    backdrop-filter: blur(16px);
    border-radius: 999px;
    border: 1px solid #ffffff0a;
}

.bar .song-name{
    font-size: 0.75rem;
    font-weight: 400;
}

.bar i{
    font-size: 0.7rem;
    font-weight: 600;
}

.reel-details .sound-btn{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sound-btn i{
    font-size: 1.2rem;
    font-weight: 100;
}

.sound-btn:hover{
    background-color: #dbdbdb33;
}

.play{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #00000080;
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play i{
    font-size: 1.5rem;
}

.reel .reel-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.reel-options .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.2s;
}

.reel-options .option i{
    font-size: 1.5rem;
    font-weight: 100;
}

.count{
    font-size: 0.8rem;
}

.reel-options .music-player{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    background-color: #cfcfcf;
    overflow: hidden;
    border: 1px solid white;
    cursor: pointer;
}

.music-player img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.reel-options .option:hover{
    background-color: transparent;
    transform: scale(1.05);
}

.reel-scroll-btns{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 2.5rem;
}

.reel-scroll-btns .scroll-btn{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #212328;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-btn i{
    font-size: 2rem;
}