*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin flex-row($content:flex-start){
    display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin flex-col($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}


nav,section{
    max-width: 1500px;
}

main{
    width: 100%;
    min-height: 100vh;
    @include flex-col(0.5rem);
    align-items: center;
    padding: 1rem;
    nav{
        width: 100%;
        @include flex-row(space-between);
        padding: 1rem;
        border-radius: 1rem;
        background-color: #EFEEEC;

        .navlinks,.nav-btns{
            display: none;
        }

        .logo{
            h1{
                font-size: 2.1rem;
            }
        }


        .menu-btn{
            i{
                font-size: 1.8rem;
            }
        }
    }

    section.view-1{
        width: 100%;
        height: 100%;
        background-color: #EFEEEC;
        border-radius: 1rem;
        padding: 1rem clamp(1rem,2.5vw,2.5rem);
        @include flex-col(1rem);
        .top{
            @include flex-col(clamp(1rem,2vw,2.5rem));
            align-items: center;

            .ratings{
                width: max-content;
                background-color: #e0e0e0;
                padding: 0.5rem 0.8rem;
                border-radius: 999px;
                @include flex-row(center);
                gap: 0.5rem;
                p{
                    font-weight: 500;
                }

            }

            .content{
                width: clamp(35ch,60vw,45ch);
                @include flex-col(0.5rem);
                text-align: center;
                h1{
                    font-size: clamp(1.5rem,2.8vw,2rem);
                }

                p{
                    font-weight: 500;
                    font-size: clamp(1rem,2vw,1.1rem);
                }

            }

            .section-btn{
                @include flex-row();
                gap: 1rem;
                a{
                    text-decoration: none;
                    color: white;
                    padding: 0.7rem 1.3rem;
                    font-size: clamp(1.1rem,1.8vw,1.15rem);
                    font-weight: 500;
                    background-color: rgb(255, 128, 0);
                    border-radius: 999px;
                }
            }

            .section-btn a:nth-child(2){
                color: rgb(255, 128, 0);
                background-color: transparent;
                border: 2px solid rgb(255, 128, 0);
            }


        }

        .bottom{
            aspect-ratio: 3/2;
            img{
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }
        
    }
}


@media (min-width:900px) {
    main{
        width: 100%;
        
        nav{
            width: 100%;
            .menu-btn{
                display: none;
            }

            .navlinks,.nav-btns{
                display: block;
            }


            .navlinks{
                @include flex-row(center);
                gap: 2rem;
                a{
                    color: black;
                    text-decoration: none;
                    font-weight: 500;
                }
            }

            .nav-btns{
                @include flex-row(center);
                gap: 0.5rem;
                a{
                    color: black;
                    text-decoration: none;
                    padding: 0.7rem 1.3rem;
                    font-weight: 500;
                    background-color: white;
                    border-radius: 999px;
                }
            }

            .nav-btns a:nth-child(2){
                color: white;
                background-color: rgb(255, 128, 0);
            }
        }

        section.view-1{
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            .top,.left{
                align-items: start;
                justify-content: center;
                .content{
                    text-align: left;
                }
            }

            .bottom,.right{
                aspect-ratio: 5/4;
            }
        }
    }
}