* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f8f8f8;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #000;
}

@mixin flex-row($just-content: flex-start) {
    display: flex;
    align-items: center;
    justify-content: $just-content;
}

@mixin flex-col($gap: 0rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    width: 100%;

    nav.navbar {
        width: 100%;
        // height: 20%;
        @include flex-row(space-between);
        align-items: flex-start;
        padding: 1rem;
        padding-right: 1.5rem;
        padding-bottom: 0.5rem;
        backdrop-filter: blur(12px);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;

        .first-half {
            @include flex-row();
            gap: 0.5rem;

            img {
                width: auto;
                height: 3.5vh;
                object-fit: cover;
            }

            .nav-txt {
                width: 50%;

                h4 {
                    font-size: 0.9rem;
                    font-weight: 600;
                }
            }

        }

        .second-half {
            @include flex-row();
            gap: 1.5rem;

            .nav-links,
            .profile-logo,
            .bell-icon {
                display: none;
            }

            .icon {
                font-size: 1.2rem;
            }
        }
    }

    section.view1 {
        width: 100%;
        @include flex-col(2rem);
        padding: 2rem;
        padding-top: 3.5rem;
        padding-bottom: 0;

        .top {
            width: 100%;
            @include flex-col(1rem);

            .top-img {
                width: auto;
                height: 25vh;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .tag {
                    position: absolute;
                    top: 6%;
                    right: 6%;
                    background-color: rgb(0, 0, 0);
                    padding: 0.2rem 0.5rem;
                    border-radius: 0.3rem;
                    text-align: center;
                    font-weight: 500;
                    font-size: 0.7rem;

                }
            }

            h2 {
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 1;
            }
        }

        .bottom {
            width: 100%;
            @include flex-col(2rem);

            .perks {
                width: 100%;
                @include flex-row(space-between);

                .perk {
                    background-color: #212121;
                    @include flex-row(center);
                    padding: 0.5rem 1rem;
                    border-radius: 0.3rem;

                    h4 {
                        font-size: 0.8rem;
                        font-weight: 700;

                        span {
                            color: #02e797;
                            font-size: 0.8rem;
                            font-weight: 500;
                        }
                    }
                }

                .pair-1,
                .pair-2 {
                    @include flex-col(0.6rem);
                }

            }

            .tags {
                width: 100%;
                @include flex-row();
                gap: 0.5rem;

                .tag {
                    background-color: #212121;
                    padding: 0.5rem 1.5rem;
                    border-radius: 0.3rem;

                    .name {
                        text-align: center;
                        width: 99%;

                        p {
                            font-size: 0.9rem;
                            font-weight: 600;
                        }
                    }
                }

                .pair-1,
                .pair-2 {
                    @include flex-col(0.5rem);
                }

                .tag-5{
                    display: none;
                }
            }

            .price {
                width: 100%;

                p {
                    font-size: 1.5rem;
                    font-weight: 700;

                    #discountPrice {
                        color: #02e797;
                    }

                    #originalPrice {
                        color: #cbcbcb;
                        text-decoration: line-through;
                        text-decoration-color: white;
                        font-size: 1rem;
                    }

                    small {
                        font-size: 1rem;
                    }
                }

                .discountLine {
                    color: #02e797;
                    font-size: 0.8rem;
                }
            }

            .buy-btns {
                width: 70%;
                @include flex-col(0.5rem);

                .btn {
                    @include flex-row();
                    gap: 0.8rem;

                    a {
                        width: 100%;
                        text-decoration: none;
                        padding: 1.5rem 1.2rem;
                        background-color: #353535;
                        border-radius: 0.4rem;
                        font-weight: 600;
                        text-align: center;
                        cursor: pointer;
                    }
                }

                .btn a:nth-child(1) {
                    background-color: #02e797;
                    font-size: 1rem;
                    font-weight: 800;
                }

                .btn a:nth-child(2) {
                    padding: 0.9rem;
                    font-weight: 600;
                }

                .punch-line {
                    width: max-content;
                    font-size: 0.95rem;
                    font-weight: 600;

                    span {
                        color: #02e797;
                        font-weight: 400;
                    }
                }
            }
        }

    }

}


@media (min-width:900px) {
    main {
        width: 100%;
        display: grid;
        grid-template-rows: 10% 1fr;
        grid-template-areas: "navbar"
            "section-1";
        gap: 1.7rem;
        nav.navbar {
            grid-area: navbar;
            justify-content: space-between;
            padding: 1rem 5rem;

            .first-half {
                gap: 1rem;
                cursor: pointer;

                img {
                    height: 6.2vh;
                }

                .nav-txt {
                    h4 {
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
                }
            }

            .second-half {
                gap: 4rem;
                .nav-links,
                .profile-logo,
                .bell-icon {
                    display: inline;
                }

                .call-icon,
                .menu-icon {
                    display: none;
                }

                a {
                    text-decoration: none;
                    font-size: 1.1rem;
                }

                .bell-icon {
                    font-size: 1.5rem;
                }

                a#myAccount{
                    padding: 0.4rem 0.7rem;
                    background-color: #70AC3C;
                    border-radius: 50%;
                    font-size: 0.8rem;
                    cursor: pointer;
                    @include flex-row(center);
                    div{
                        position: relative;
                        font-size: 1rem;
                        bottom:0.1rem;
                    }
                }
            }
        }

        section.view1 {

            @include flex-row(center);
            padding: 0rem 5rem;
            padding-top: 0rem;
            grid-area: section-1;
            gap: 0;

            .top {
                width: 100%;
                display: grid;
                grid-template-columns: 42% 1fr;
                grid-template-areas: "title img";
                gap: 9rem;

                .top-img {
                    grid-area: img;
                    width: auto;
                    height: 45vh;
                    // border: 1px solid white;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                h2 {
                    grid-area: title;
                    font-size: 3rem;
                }

            }

            .bottom {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 35% 25% 1fr;
                grid-template-areas: "tags perks"
                    "price perks"
                    "buy-btns perks";

                align-items: start;

                .perks {
                    grid-area: perks;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 1rem 1rem;
                    background-color: #1E1E1E;
                    // #151515
                    height: 25vh;
                    border-bottom-right-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;

                    .perk{
                        background-color: #151515;
                        justify-content: flex-start;
                        padding: 0.8rem;
                        padding-right: 8rem;
                        h4{
                            font-size: 1rem;
                            

                            span{
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }
                    }

                    .pair-1,.pair-2{
                        gap: 1rem;
                    }
                    
                }

                .tags {
                    grid-area: tags;
                    flex-wrap: wrap;
                    .tag-5{
                        display: inline;
                    }
                    .tag{
                        display: inline-block;
                        padding: 0.5rem 1rem;

                        .name{
                            width: 100%;
                            p{
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }
                    }
                    .pair-1,.pair-2{
                        flex-direction: row;
                                               
                    }
                    .pair-2{
                        .tag{
                            .name{
                                p{
                                    font-size: 0.9rem;
                                }
                            }
                        }
                        p{
                            font-size: 0.8rem;
                        }
                    }
                }

                .price {
                    grid-area: price;

                    p{
                        font-size: 2.5rem;

                        #originalPrice{
                            font-size: 1.4rem;
                        }
                        small{
                            font-size: 1.4rem;
                        }
                    }
                }

                .buy-btns {
                    grid-area: buy-btns;

                }

            }
        }
    }
}