*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

main h1{
    font-size: 5rem;
    color: rgb(31, 28, 77);
}

main .play-pause i{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    background-color: #000;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.2s;
}
i:active{
    transform: scale(0.95);
}


.reset i{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    background-color: #000;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease 0.2s;
}


.btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}