*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

main .top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}

main .top .details{
    width: 20rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

main .top .box{
    width: 10rem;
    height: 10rem;
    border-radius: 2rem;
    background-color: rgb(222, 13, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
}

main button{
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 1.2rem;
    border-radius: 999px;
    cursor: pointer;
    transition: transform ease 0.15s;
}

button:active{
    transform: scale(0.9);
}