@font-face {
    font-family: sf pro;
    src: url(./sf-pro-display_regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}


main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 8vh 0.5fr 1fr;

    grid-template-areas: "nav-left section-left"
        "section-right section-left"
        "section-lR section-left";


}

nav {
    grid-area: nav-left;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 50px;

    .navcontent {
        background-color: rgb(233, 230, 230);
        width: 75%;
        height: 70%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 1;

        .selected {
            position: absolute;
            left: 0;
            height: 100%;
            width: 25%;
            background-color: black;
            border-radius: 20px;
            z-index: 2;
        }

        a {
            color: black;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            z-index: 3;
            font-size: 0.8rem;
        }
    }

}

.navcontent a:nth-child(1) {
    color: white;
}


#section-1 {
    grid-area: section-right;
    padding-left: 50px;
    padding-top: 30px;

    h1 {
        font-size: 3.5rem;
        font-family: sf pro;
        font-weight: 600;
        letter-spacing: 3px;
    }

    .text-1 {
        width: 75%;
        display: flex;
        color: black;
        display: flex;
        align-items: center;
        // justify-content: ;
        position: relative;

        .text-1-img {
            width: 30%;
            height: 100%;
            position: absolute;
            top: 20%;
            right: 10%;

            img {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                position: absolute;
                border: 2px solid white;
            }
        }

        .text-1-img img:nth-child(2) {
            left: 20%;
        }

        .text-1-img img:nth-child(3) {
            left: 42%;
        }


    }

    .oth-text {
        width: 75%;
    }

    #dashed {
        width: 75%;
        height: 15%;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .left {
            width: 37.5%;
            height: 5px;
            border-bottom: 2px dashed black;
        }

        .center {
            width: 70px;
            height: 35px;
            border-radius: 20px;
            border: 2px dashed black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .right {
            width: 37.5%;
            height: 5px;
            border-bottom: 2px dashed black;

        }
    }
}


#section-2 {
    grid-area: section-left;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    .section-2-img {
        height: 100%;
        width: 100%;
        position: absolute;
        padding: 6px 6px 6px 0px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
        }

        .nav-right-side {
            width: 99.4%;
            height: 30vh;
            border-radius: 20px;
            position: absolute;
            top: 0.9%;
            z-index: 99;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;


            .nav-rigth-side-left {
                padding: 90px 10px;
                display: flex;
                transform: rotate(-90deg);

                .capsule {
                    padding: 10px 15px;
                    background-color: #fff;
                    border-radius: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h4 {
                        font-size: 0.9rem;
                        font-family: sf pro;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }
                }

                i {
                    padding: 12px;
                    border-radius: 999px;
                    background-color: #000;
                    color: white;
                }

            }

            .nav-right-side-right {
                width: 200px;
                height: 70px;
                background-color: white;
                border-bottom-left-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;


                i {
                    padding: 10px;
                    border-radius: 999px;
                    background-color: #000;
                    color: white;
                }

                a {
                    height: 2rem;
                    width: 8rem;
                    padding: 18px 0px;
                    color: #000;
                    background-color: white;
                    text-decoration: none;
                    box-shadow: 0px 0px 80px 1px rgb(201, 201, 201);
                    border-radius: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.9rem;
                    font-family: sf pro;
                    font-weight: 600;
                }
            }
        }

        .bottom-capsules {
            width: 250px;
            height: 130px;
            position: absolute;
            z-index: 99;
            bottom: 4%;
            right: 4%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;

            a {
                color: white;
                text-decoration: none;
                font-size: 0.8rem;
                font-family: sf pro;
            }

            
            .pair-1 {
                display: flex;
                .goli{
                    padding: 12px 30px;
                    border-radius: 999px;
                }
            }

            .pair-2 {
                display: flex;
                .goli{
                    padding: 12px 40px;
                    border-radius: 999px;
                }
            }

            .goli {
                text-align: center;
                border: 1px solid rgba(255, 255, 255, 0.5);
                background-color: rgba(255, 255, 255, 0.12);
                backdrop-filter: blur(12px);
                color: #fff;
            }


        }
    }


}

#section-lR {
    grid-area: section-lR;
    width: 53vw;
    height: 20vh;
    padding-left: 50px;
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 99;

    .left-content {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .green-box {
            width: 10px;
            height: 10px;
            background-color: greenyellow;
        }

        p {
            width: 155px;
            line-height: 20px;
            font-size: 0.9rem;
            font-family: sf pro;
            font-weight: 600;
        }
    }

    .right-content {
        height: 30vh;
        background-color: #fff;
        padding: 15px 10px 0px 0px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        .models {
            display: flex;
            gap: 10px;
            cursor: pointer;

            .right-content-img {
                height: 150px;
                width: 155px;
                overflow: hidden;
                border-radius: 25px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                a {
                    height: 2rem;
                    width: 90%;
                    color: black;
                    background-color: #fff;
                    text-decoration: none;
                    margin: 0px 5px 5px 5px;
                    border-radius: 20px;
                    position: absolute;
                    bottom: 0%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 0.9rem;
                    font-family: sf pro;
                    font-weight: 600;
                }

            }
        }

        .right-content-bottom {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0px;
            padding-bottom: 0;

            .no {
                display: flex;
                align-items: flex-end;
                font-family: sf pro;
            }

            .rc-btns {
                font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

}