*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .game-board{
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    border-radius: 1rem;
    background-color: beige;
    overflow: hidden;
}

.game-board .details{
    max-width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(95, 134, 16);
}

.details .dets-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details div span{
    background-color: #fff;
    color: black;
    border-radius: 0.5rem;
    padding:0.5rem 1rem;
    font-weight: 600;
    margin-left: 1rem;
}

.details div h4{
    font-weight: 700;
}



.game-board .bubbles{
    flex-grow: 1;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(3rem,1fr));
    grid-template-rows: repeat(auto-fill,minmax(3rem,1fr));
    gap: 0.5rem;
}

.bubbles .bubble{
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(106, 142, 35, 0.614);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}

.bubble:hover{
    background-color: rgba(60, 87, 7, 0.614);
}

.game-over{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: #ebe9e94f;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(12px);
}
.game-over h2{
    color: black;

}

.game-over p{
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}
.game-over p span{
    color: black;
}
.hidden{
    display: none;
}