*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .game-details-bar{
    width: 100%;
    padding: 2rem;
    display: flex;   
    align-items: center;
    justify-content: space-around;
    background-color: #f9f5f5da;
    border-radius: 0.5rem;
}

.game-details-bar .snk-dets{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.game-details-bar .snk-dets .dets{
    color: black;
}

main .game-board{
    flex-grow: 1;
    background-color: crimson;
    border-radius: 0.5rem;
    padding: 1rem;
}


.all-blocks{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(40px,1fr));
}


.block{
    border: 1px solid black;
    font-size: 0.5rem;
}

.fill{
    background-color: rgb(247, 247, 65);
}

.foodColor{
    background-color: purple;
}

.outScreen{
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fffdfd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.5);
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    opacity: 0;
}

.outScreen button{
    color: black;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all linear 0.2s;
}

button:active{
    transform: scale(0.95);
}