*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

main .download-card{
    width: 30rem;
    padding: 2rem;
    background-color: #f7efefc1;
    border-radius: 1.2rem;
}
.download-card .top{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.top p{
    font-weight: 600;
}

.top p span{
    color: rgb(55, 95, 241);
}
.download-card .outer{
    width: 100%;
    height: 1rem;
    border-radius: 999px;
    background-color: #aaaaaa;
}

.outer .inner{
    width: 0%;
    height: 100%;
    background-color: #52f11d;
    border-radius: 999px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.7rem;
}

.bottom h3{
    font-size: 1.5rem;
}

.bottom button{
    padding: 0.9rem 0.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #ddd4d4;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: all ease 0.2s;
}

button:active{
    transform: scale(0.9);
}