@font-face {
    font-family: nasal;
    src: url(./Nasalization\ Rg.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 20% 1fr 40%;
    grid-template-rows: 150px 80px 1fr 30%;

    grid-template-areas: "header header header"
                         "aside section section"
                         "aside section section"
                         "aside section section";
    grid-gap: 20px;
    
    padding: 10px 50px;

}

main header{
    grid-area: header;
}

main aside{
    grid-area: aside;
    padding: 0px 10px;
}

main section{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main header nav{
    display: flex;
    align-items: flex-start;
    gap: 28px;
    flex-direction: column;
}
main header nav .nav-1{
    display: flex;
    align-items: center;
    gap: 20px;
}

main header nav .nav-1 .logotxt{
    width: 50px;
}
header nav  .nav-1 .logotxt h1{
    font-size: 29px;
    font-family: nasal;
    font-style: normal;
    font-weight: 500;
}

header nav .nav-1 .searchbar{
    width: 500px;
    margin-left: 70px;
}

header nav .nav-1 .searchbar .searchbox{
    height: 60px;
    width: 90%;
    background-color: white;
    border-radius: 40px;
    position: relative;
}

header nav
.nav-1
.searchbar 
.searchbox 
.searchbtn{
    height: 60px;
    width: 130px;
    background-color: rgb(35, 35, 35);
    border-radius: 40px;
    position: absolute;
    right: -6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .searchbar
.searchbox h3,i{
    color: white;
}

.searchbar .searchbox h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}


header nav .nav-1 .navoptions{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav  .nav-1 .navoptions .navbtns{
    display: flex;
    align-items: center;
}

nav  .nav-1 .navoptions .navbtns a{
    background-color: white;
    color:black;
    text-decoration: none;
    padding: 15px 23px;
    border-radius: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

nav .navothopt{
    display: flex;
    align-items: center;
    gap: 3px;
}

nav  
.nav-1
.navoptions
.navothopt 
.navothopt-btns,.adCard{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav 
.nav-1
.navoptions
.navothopt-btns:nth-child(1){
    background-color: white;
}
nav 
.nav-1
.navoptions
.navothopt-btns:nth-child(2){
    background-color: #bac4cd;
}
nav 
.nav-1
.navoptions
.navothopt-btns:nth-child(3){
    background-color: white;
}

nav 
.nav-1
.navoptions
.navothopt,.adCard i{
    font-size: 25px;
}

.navothopt #like i{
    color: #e13e32;
}
.navothopt #cart i{
    color: black;
}
.navothopt #profile i{
    color: black;
}


nav 
.nav-1
.navoptions
.navothopt 
#profile img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 50px;
}

nav .navlinks{
    display: flex;
    align-items: center;
    gap: 30px;

}
nav .navlinks h3{
    font-family: nasal;
    font-weight: 200;
}

nav .navlinks .links a{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-right: 22px;

}

nav .navlinks .links a:nth-child(1){
    background-color: #b1c8e0;
}


main aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgb(108, 104, 104);
    padding-top: 35px;
}

aside h3{
    font-size: 28px;
    font-family: nasal;
    font-weight: 100;
}

aside .card{
    height: 400px;
    width: 250px;
    background: linear-gradient(transparent,rgba(255, 255, 255, 0.738),transparent);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 11px 12px;
    position: relative;
}

aside .card h2{
    font-size: 29px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

aside .card h3{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.card .cardbtns{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

aside .card 
.cardbtns 
#rating{
    width: 65px;
    height: 45px;
    background-color: rgb(150, 150, 150);
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rating p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#cardopt{
    display: flex;
}

.card img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

aside .imgSlider{
    width: 100%;
    height: 55px;
    background-color: rgb(235, 235, 235);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgSlider #btn1,#btn2{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgSlider #btn1{
    background-color: rgba(177, 177, 177, 0.485);
}
.imgSlider #btn2{
    background-color: #383838;
}
.imgSlider .txt{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

section .top-banner{
    width: 960px;
    display: flex;
    gap: 60px;
}
section #card1{
    width: 530px;
    height: 270px;
    background-color: rebeccapurple;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

section #card1 .content{
    margin-left: 25px;
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

section #card1 h1{
    width: 100px;
    font-family: nasal;
    font-weight: 300;
    line-height: 32px;

}

section #card1 p{
    width: 170px;
    font-family: nasal;
    line-height: 12px;
}

section #card1 img{
    height: 200px;
    width: 300;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
}

section #card1 .saleoff{
    width: 100px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 5px;
}

section #card1 .saleoff i{
    margin-right: 8px;
}



section #card2{
    width: 420px;
    height: 270px;
    background-color: rebeccapurple;
    border-radius: 12px;
    padding: 8px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section #card2 h1{
    font-size: 25px;
    font-family: nasal;
    font-weight: 100;
}

section #card2 h2{
    width: 50px;
    font-size: 18px;
    font-family: nasal;
    font-weight: 100;
}
section #card2 .content{
    padding: 20px 10px;
}
section #card2 img{
    height: 150px;
    width: 150px;
    border-radius: 12px;
    object-fit: cover;
    position: absolute;
    top: 45%;
    left: 75%;
    transform: translate(-50%,-50%);
}

section #card2 .card2-btn{
    height: 55px;
    background: white;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}


section #card2 .card2-btn .arrowbtn{
    height: 55px;
    width: 100px;
    background: wheat;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    
}

section .bottom-banner{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 35px;

}

section .bottom-banner .box{
    height: 230px;
    width: 300px;
    background: crimson;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

section .bottom-banner .box img{
    height: 100%;
    width: 100%;
}

section .bottom-banner .box .icns{
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 3%;
}

section .bottom-banner .box .rating{
    width: 65px;
    height: 45px;
    background-color: rgb(150, 150, 150);
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-banner .box .rating p{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

section .bottom-banner .box .likes{
    height:48px;
    width: 48px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 25px;
}
.bottom-banner .box .likes i{
    color: #e13e32;
}