*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}


main .faq{
    width: min(29rem,50%);
    height: auto;
    border: 1px solid #8a8a8a9f;
    border-radius: 1.2rem;
    padding: 0.2rem;
}

main .faq .quest{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c4c3c35f;
    padding: 1.2rem;
    border-radius: 1rem;

    cursor: pointer;
    transition: all ease 0.1s;
}

.quest h2{
    font-size: 1.3rem;
}

main .faq .quest i{
    display: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all ease 0.1s;
    border-radius: 1rem;
    padding: 0.3rem;
    transition: all ease 0.3s;
}

i:active{
    transform: scale(0.9);
}


i:hover{
    background-color: #37333355;
}


main .faq .answer{
    display: none;
    padding: 1.5rem 1rem;
    transition: all ease 0.2s;
}

.answer p{
    font-size: 0.9rem;
}


.faq:hover .quest{
    background-color: #bababa7f;
}